@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: dark;
}

.mainBackground {
  background-image: url('../../public/assets/img/food-background-1.webp');
  filter: invert(1) brightness(50%) opacity(10%);  
}